rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users
    match /users/{uid} {
        allow read: if request.auth != null;
        allow update: if request.auth.uid == uid;
    }
    // User Favorites
    match /users/{uid}/favorites/{fid} {
          allow create, read, update: if request.auth.uid == uid;
          allow delete: if request.auth.uid == uid;
    }

    // Posts
    match /posts/{pid} {
        allow create, read: if request.auth != null;
        allow update: if request.auth.uid == request.resource.data.authorId;
        allow delete: if request.auth.uid == resource.data.authorId;
    }

    // Post Comments
    match /posts/{pid}/comments/{cid} {
        allow create, read: if request.auth != null;
        allow update: if request.auth.uid == request.resource.data.authorId;
        allow delete: if request.auth.uid == resource.data.authorId;
    }

    // Post votes
    match /posts/{pid}/votes/{vid} {
        allow create, read, update: if request.auth != null;
    }
    // Post comment votes
    match /posts/{pid}/comments/{cid}/votes/{vid} {
        allow create, read, update: if request.auth != null;
    }
  }
}
